nav {
  /* Set line height to 1.5 times the font size
      and use the OS’s UI font as the website font
    */
  display: flex;
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.4em;
  --color-accent: oklch(80% 3% 200);
  accent-color: var(--color-accent);
}
nav ul {
  display: contents;
}
nav li {
  display: contents;
}
nav a {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    
  }
